html,
body {
    background-color: black;
    color: #EEE;
}

#imageArea {
    height: 660px;
    width: 660px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
}

img {
    position: relative;
}

#pagingButtonArea {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
}

#viewerButtonArea {
    margin-bottom: 5px;
}

.imagePageButton {
    position: relative;
    font-size: 14px;
    font-family: Arial;
    padding: 16px;
    background-color: black;
    border: 1px solid #CCC;
    cursor: pointer;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

button {
    padding: 10px;
}